* {
  /* background-color: black;
  color: white; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-text: rgb(37 34 52);
  --background-color:#d6c0f3;
  --heading-color:rgb(0, 0, 0);
  --console-color:rgb(213, 213, 213);
  --invert-color:invert(100%);
  --button-color:white;
  --box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.2);
}
.dark-theme {
  --color-text: #d6c0f3;
  --background-color: rgb(37 34 52);
  --heading-color:#d6c0f3;
  --console-color:rgb(0, 0, 0);
  --invert-color:invert(0%);
  --button-color:black;
  --box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.2);
}
body {
  background-color: var(--background-color);
  /* color: var(--color-text); */
  transition: background 0.8s, color 0.8s;
}
.intro h1 {
  color: var(--heading-color);
  font-family: facon;
  font-weight: bold;
  text-align: center;
}
.theme {
  /* border: 2px solid blue; */
  background-color: var(--background-color);
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px 0px;
}
.toggle-btn {
  background-color: var(--color-text);
  color: var(--button-color);
  width: 150px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 10px;
  box-shadow: var(--box-shadow)
}
.toggle-btn img {
  height: 30px;
  width: 30px;
  margin: 0px 3px;
  filter: var(--invert-color);
}
.container {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Calculator {
  background-color: var(--color-text);
  border-radius: 1rem;
  padding: 10px;
}
button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--background-color);
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 10px;
  cursor: pointer;
}

#equals {
  border: 0;
  outline: 0;
  background-color: transparent;
  /* color: white; */
  font-size: 20px;
  width: 123px;
  height: 50px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 10px;
  cursor: pointer;
}

#result {
  text-align: right;
  padding: 10px;
  border: 0;
  outline: 0;
  background-color: var(--background-color);
  color: var(--heading-color);
  font-size: 20px;
  width: 273px;
  height: 50px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 10px;
  cursor: pointer;
}
